# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.log

# ===============================
# Django secrets & database
# ===============================
.env
.env.*
SECRET_KEY
db.sqlite3
media/
staticfiles/

# ===============================
# Virtual environments
# ===============================
venv/
env/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Frontend (separate repo)
# ===============================
frontend/

# ===============================
# Data files
# ===============================
# ❌ DO NOT ignore Excel (needed for Render import)
# *.xlsx
